:root {
    --Strong_Cyan: hsl(171, 66%, 44%);
    --Light_Blue: hsl(233, 100%, 69%);

    --Dark_Grayish_Blue: hsl(210, 10%, 33%);
    --Grayish_Blue: hsl(201, 11%, 66%);

    --White: #fff;
    --Footer_bg: rgb(240, 240, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    background: url(./Images/bg-header-mobile.png) no-repeat;
    background-size: contain;
    display: grid;
    place-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--Dark_Grayish_Blue);
}

h2 {
    font-size: 1.7rem;
}

p {
    color: var(--Grayish_Blue);
    opacity: .7;
    line-height: 1.5;
}

img {
    width: 100%;
}

footer a {
    color: var(--Dark_Grayish_Blue);
}

/* MOBILE */

main {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 5rem 1rem;
}

.logo {
    width: 6rem;
}

header {
    display: grid;
    gap: 1rem;
}

header h1 {
    margin: 2.5rem .9rem 0;
}

header p {
    margin: 0 1.1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 2.8rem;
}

.buttons button {
    color: var(--White);
    font-size: .96rem;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    padding: 1.05rem 5.5rem;
    transition: opacity .3s ease;
    cursor: pointer;
}

.buttons button:hover {
    opacity: .7;
}

.buttons .ios {
    background: var(--Strong_Cyan);
    box-shadow: 0px 4px 34px -12px var(--Strong_Cyan);
}

.buttons .mac {
    background: var(--Light_Blue);
    box-shadow: 0px 4px 34px -12px var(--Light_Blue);
}

.second_header {
    display: grid;
    gap: 1rem;
    margin: 4rem 1rem 2.8rem;
}

.second_header img {
    margin-top: 2rem;
}

.pros_container {
    display: grid;
    gap: 2rem;
}

.pros_container img {
    width: 100%;
}

.titles_container {
    display: grid;
    gap: 1.7rem;
}

.title {
    display: grid;
    gap: .25rem;
    padding: 0 1.3rem;
}

.title p {
    line-height: 1.3;
}

.access_clipboard {
    display: grid;
    gap: .8rem;
    padding: 0 1rem;
    margin-top: 6rem;
}

.access_clipboard img {
    margin-top: 2.7rem;
}

.supercharge_container {
    padding: 6rem 2rem;
}

.supercharge_header {
    display: grid;
    gap: .7rem;
}

.specs {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 6rem;
}

.spec {
    display: grid;
    gap: .7rem;
}

.spec img {
    width: 2.7rem;
    margin: 0 auto .7rem;
}

.companies_container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 2.5rem;
}

.companies_container img {
    width: 9rem;
}

.download_final_section {
    margin-top: 6rem;
    padding: 1.2rem;
}

.download_final_section .buttons {
    margin: 3rem auto;
}

.download_final_section .buttons button {
    margin: auto;
}

.download_final_header {
    display: grid;
    gap: .5rem;
}

footer {
    background: var(--Footer_bg);
    width: 100%;
}

.page_footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 0 2rem;
    width: 100%;
}

.self_footer {
    color: var(--Strong_Cyan);
    background: rgb(226, 226, 226);

    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    font-size: .9rem;
}

.self_footer a {
    opacity: .8;
    text-decoration: none;
}

.self_footer a:hover {
    text-decoration: underline;
}

.page_footer .logo {
    margin: 0 auto;
    width: 4rem;
}

.links {
    display: grid;
    place-items: center;
    gap: 1rem;
    font-weight: 500;
}

.links a {
    text-decoration: none;
    opacity: .8;
}

.links a:hover {
    color: var(--Strong_Cyan);
}

.social_medias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.social_medias ion-icon {
    color: var(--Dark_Grayish_Blue);
    cursor: pointer;
    transition: transform .3s ease;
    font-size: 2rem;
}

.social_medias ion-icon:hover {
    color: var(--Strong_Cyan);
    transform: scale(1.2);
}

/* FOR TABLETS */

@media screen and (min-width: 391px) {
    .buttons {
        max-width: 80%;
    }
}

@media screen and (min-width: 400px) {

    h3 {
        font-size: 1.4rem;
    }

    .pros_container {
        gap: 7rem;
    }

    .pros_container .title {
        padding: 0;
    }
}

@media screen and (min-width: 700px) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.2rem;
    }
}

/* DEKTOPS */

@media screen and (min-width: 1220px) {

    main {
        margin: 6rem 0 0 0;
        width: 100%;
    }

    header {
        max-width: 50rem;
    }

    header p {
        padding: 0 3rem;
    }

    .buttons {
        flex-direction: row;
    }

    .buttons button {
        padding: .9rem 2.4rem;
    }

    .second_header {
        margin-top: 7rem;
        max-width: 48rem;
    }

    .second_header p {
        padding: 0 1rem;
    }

    .pros_container {
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        min-width: 100%;
        margin-top: 2rem;
    }

    .pros_container img {
        margin-left: -2rem;
    }

    .titles_container {
        max-height: 20rem;
        max-width: 26rem;
        margin-top: 3rem;
    }

    .titles_container .title {
        text-align: start;
        gap: .6rem;
    }

    .access_clipboard_header {
        display: grid;
        gap: 1rem;
        max-width: 45rem;
        margin: 2rem auto;
    }

    .supercharge_header {
        gap: 1rem;
    }

    .specs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: baseline;
        gap: 0;
    }

    .spec {
        padding: 0 1.4rem;
    }


    .companies_container {
        flex-direction: row;
        gap: 9rem;
        margin-top: 5rem;
    }

    .companies_container img {
        width: 100%;
    }

    .download_final_section {
        max-width: 60rem;
    }

    .download_final_header {
        gap: 1rem;
    }

    .download_final_header p {
        padding: 0 6rem;
    }

    .download_final_section .buttons {
        justify-content: center;
        gap: 1.5rem;
        margin: 3rem auto;
    }

    .download_final_section .buttons button {
        font-size: 1.05rem;
        padding: .9rem 3rem;
        margin: 0;
    }

    .page_footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0 2rem;
    }

    .page_footer .logo {
        margin: 0;
    }

    .links {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        place-items: start;
        column-gap: 8rem;
    }

    .links .faqs {
        grid-column: 1 / 2;
    }

    .links .privacy {
        grid-column: 2 / 3;
    }

    .links .install_guide {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .links .contact_us {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .links .press_kit {
        grid-column: 2 / 3;
    }

    .self_footer {
        font-size: 1rem;
    }
}